<div class='bit-1' style='color:white'>
   
            <h1 class="title">{{planets[clicked].name}}</h1>
              <section>
                <p>
                  <p> <table width='400px' height='300px'>
                <tr>
                        <td> <h5>::Rotation Period  ::<br> {{planets[clicked].rotation_period}}  </td> <h5>
                     <td> <h5>::  Orbital Period ::<br> {{planets[clicked].orbital_period}}  </td> <h5>
                   <td> <h5>:: Climate ::<br>    {{planets[clicked].climate}}  </td> <h5>
               </tr>
           <tr>
                         <td> <h5>::    Gravity ::<br>   {{planets[clicked].gravity}}  </td> <h5>
                        <td> <h5>::   Surface_Water ::<br>     {{planets[clicked].surface_water}}  </td> <h5>
                         <td> <h5>::   Population  ::<br>    {{planets[clicked].population}}  </td>
           </tr>
         </table>
              </section> 

          <footer>
    </footer>

        </div>

          <div id='holder' class='bit-1'>

            <swampi-resident id="{{reses}}" style='float:right'> </swampi-resident> </h5> </div>


<!-- <li ng-repeat="guy in resi" ng-if="resi"> {{guy}} </li> -->
